<table class="table table-hover">
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist Name</th>
      <th>Dance Name</th>
      <th>Label</th>
      <th>Rating</th>
      <th>Duration</th>
      <th>BPM</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songs" (click)="editSong(song)">
      <td>{{ song.title }}</td>
      <td><app-artist-view [_value]="song.artist" [readonly]="true"></app-artist-view></td>
      <td><app-dance-view [_value]="song.dance" [readonly]="true"></app-dance-view></td>
      <td><app-label-list-view [_value]="song.labels" [readonly]="true"></app-label-list-view></td>
      <td><app-rating-view [_value]="song.rating" [readonly]="true"></app-rating-view></td>
      <td>
        Duration
      </td>
      <td><app-bpm-view [_value]="song.bpm" [readonly]="true"></app-bpm-view></td>
    </tr>
  </tbody>
</table>
