.star {
  position: relative;
  display: inline-block;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #1e90ff;
}
