<div class="container">
    <form #songForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" autocomplete="off" class="form-control" id="title" required name="title" [(ngModel)]="song.title">
      </div>
      <app-artist-view [(ngModel)]="song.artist" name="artist" [readonly]="false"></app-artist-view>
      <app-dance-view [(ngModel)]="song.dance" name="dance" [readonly]="false"></app-dance-view>
      <app-path-view [(ngModel)]="song.path" name="path" [readonly]="false"></app-path-view>
      <app-bpm-view [(ngModel)]="song.bpm" name="bpm" [readonly]="false"></app-bpm-view>
      <app-duration-view [(ngModel)]="song.duration" name="duration" [readonly]="false"></app-duration-view>
      <app-rating-view [(ngModel)]="song.userRating" name="rating" [readonly]="false"></app-rating-view>
      <app-label-list-view [(ngModel)]="song.labels" name="labels" [readonly]="false"></app-label-list-view>

      <button type="button" class="btn" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()" [hidden]="song.id == null">Delete</button>
      <button type="submit" class="btn btn-success" [disabled]="!songForm.valid">Submit</button>

    </form>
</div>
