<div class="container">
    <form #artistForm="ngForm" (ngSubmit)="onSubmit()">
      <app-artist-view labelText="Change artist from" [(ngModel)]="artist" name="artist" [readonly]="false"></app-artist-view>
      <div class="form-group">
        <label for="name-after">Change artist into</label>
        <input type="text" class="form-control" id="name-after" required name="name-after" [(ngModel)]="nameAfter">
      </div>

      <button type="button" class="btn" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="!artistForm.valid">Submit</button>

    </form>
</div>
